/* CSS RESET https://andy-bell.co.uk/a-modern-css-reset/ and https://www.youtube.com/watch?v=h3bTwCqX4ns */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

$white: #F4F4F4;
$gray: #e0e0e0;
$black: #171717;
$black2: #2C2C2C;
$highlight: #F25757;
$btn: #E9DF00;

$small: 650px;
$medium: 900px;
$large: 1200px;
$xl: 1720px;
$mobile-nav: 530px;

html {scroll-behavior: smooth;}

body { font-family: 'Poppins', sans-serif; background-color: $white; color: $black; min-height: 100vh; overflow-x: hidden;
  
  #hero { background-color: $black; color: $white; padding: 0 2rem; 
    @media (min-width: $medium) { padding: 0 6rem 3rem; } 
    @media (min-width: $xl) { padding: 0 15rem 3rem; } 
    header {display: flex; flex-direction: row; justify-content: space-between; align-items: center;
      @media (max-width: $mobile-nav) { display: block; }
      @media (min-width: $medium) { padding: 1rem 0; }
      h1 { font-size: 1.75rem; font-weight: 600; z-index: 1100; position: relative; background-color: $black; padding: 1rem 0;
        @media (min-width: $medium) { font-size: 2rem; } 
        @media (min-width: $large) { font-size: 2.25rem; } 
        a { color: $highlight; }
      }
      .mobile-nav-toggle { display: none;
        @media (max-width: $mobile-nav) { display: block; position: absolute; z-index: 9999; background: url("./svgs/bars-solid.svg"); width: 1.25rem; aspect-ratio: 1; top: 1.75rem; right: 2rem; background-repeat: no-repeat; border: 0;  
          &[aria-expended=true] { background: url(./svgs/x-solid.svg); background-repeat: no-repeat; }
        }
      }
      nav {
        ul { display: flex; gap: 1rem; flex-direction: row; 
          @media (max-width: $mobile-nav) { flex-direction: column;  position: absolute; background-color: $black; width: 80%; padding: 1rem 0; transform: translateY(-120%); transition: transform 350ms ease-in; z-index: 1000;
            &[data-visible=true] { transform: translateY(0%); border-top: 4px solid $btn; }
          }
          @media (min-width: $large) { gap: 3rem; }
          li { font-size: 1.25rem;
            a { color: $white; 
              @media (min-width: $medium) { font-size: 1.5rem; } }
          }
        }
      }
    }
    main { display: block;
      @media (min-width: $small) { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
      .hero-img { padding-bottom: 1rem; 
        img {
          @media (min-width: $small) { height: auto; width: 35rem; }
        }
      }
      .hero-text { 
        h2 { text-transform: uppercase; padding: 0.5rem 0; }
        p { font-weight: 200; max-width: 45ch; }
      }
      .hero-btns { display: flex; flex-direction: row; gap: 2rem; padding: 1rem 0 2rem;
        a { 
          img { 
             @media (min-width: $large) { width: 2.5rem; height: auto;}
          }
        }
      }
    }
  }

  .tech-stack { background-color: $gray; padding: 2rem;
    @media (min-width: $medium) { padding: 2rem 6rem; } 
    @media (min-width: $xl) { padding: 2rem 15rem; } 
    ul { display: flex; flex-direction: row; flex-wrap: wrap; gap: 2rem; justify-content: flex-start; align-items: center; padding-top: 1rem; 
      @media (min-width: $large) { gap: 4rem;}
      li {
        img {
          @media (min-width: $large) { width: 5rem; height: auto;}
        }
      }
    }
  }

  main { display: flex; flex-direction: column; justify-content: flex-start; align-items: start; gap: 4rem; 
    h2 { padding-bottom: 1rem; }
    h3 { color: $highlight; padding-bottom: 0.5rem; }
    h4 { padding: 0.5rem 0; }
    #about { padding: 2rem 2rem 0;
      @media (min-width: $medium) { padding: 2rem 6rem 0; } 
      @media (min-width: $xl) { padding: 2rem 15rem 0; } 
    }
    #projects { padding: 0 2rem 2rem;
      @media (min-width: $medium) { padding: 0 6rem 2rem; } 
      @media (min-width: $xl) { padding: 0 15rem 2rem; } 
      .project { padding-bottom: 6rem;
        @media (min-width: $medium) { padding-bottom: 10rem; } 
        @media (min-width: $large) { display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; gap: 5rem; 
          &:nth-child(odd){ flex-direction: row-reverse; }
        } 
        &:last-child { padding-bottom: 0;}
        .project-text {
          .project-stack { padding: 1rem 0;
            ul { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 1.5rem;
              li {
                img { 
                  @media (min-width: $large) { width: 4rem; height: auto;}
                }
              }
            }
          }
        }
        .project-actions {
          .project-imgs {
            img { width: 100%;
              @media (min-width: $large) { width: 80rem; height: auto;}
            }
          }
          .project-links { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 2rem; padding-top: 1rem;
            a{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem; text-decoration: none; padding: 0.25rem 0.5rem; color: $black;
              @media (min-width: $medium) { font-size: 1.25rem; } 
              @media (min-width: $large) { font-size: 1.5rem; } 
            }
          }
        }
      }
    }

    #contact { background-color: $gray; padding: 2rem; width: 100%;
      @media (min-width: $medium) { padding: 2rem 6rem; } 
      @media (min-width: $xl) { padding: 2rem 15rem; } 
      
      #contact-form { 
        fieldset { border: none; margin: 1rem 0;
          label { 
            @media (min-width: $medium) { font-size: 1.25rem; }  
          }
          input, textarea { width: 100%; display: block; max-width: 40rem; 
            @media (min-width: $medium) { font-size: 1.25rem; } 
          }
        }
        button { border: none; width: 100%; background-color: $btn; padding: 0.5rem 0; max-width: 40rem; color: $black;
          @media (min-width: $medium) { font-size: 1.25rem; } 
        }
      }
    }

  }

  footer { background-color: $black;}
}

a { text-decoration: none; color: $black; }
li { list-style: none; }
img { max-width: 100%; height: auto;}
h2 { font-size: 1.5rem; font-weight: 600; 
  @media (min-width: $medium) { font-size: 1.75rem; } 
  @media (min-width: $large) { font-size: 2rem; } 
}
h3 { font-size: 1.25rem; font-weight: 600;
  @media (min-width: $medium) { font-size: 1.5rem; } 
  @media (min-width: $large) { font-size: 1.75rem; } 
}
h4 { font-weight: 600;
  @media (min-width: $medium) { font-size: 1.25rem; } 
  @media (min-width: $large) { font-size: 1.5rem; } 
}
p { max-width: 75ch;
  @media (min-width: $medium) { font-size: 1.25rem; } 
  @media (min-width: $large) { font-size: 1.5rem; } 
}

.anime-bar { text-decoration: none; color: $btn; position: relative;
  &::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: currentColor; transform: scaleX(0); transform-origin: right; transition: transform 250ms ease-in; }
  &:hover::after { transform: scaleX(1); transform-origin: left; }
}

.btn { cursor: pointer; border: 0; background: $btn; color: white; padding: 1em 1.5em; position: relative; z-index: 1;
  &::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: -1; transition: transform 200ms ease-in; transform: scaleX(0); transform-origin: right;}
  &:hover::after { transform: scaleX(1); transform-origin: left; }
}