/* CSS RESET https://andy-bell.co.uk/a-modern-css-reset/ and https://www.youtube.com/watch?v=h3bTwCqX4ns */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

$white: #F4F4F4;
$black: #2C2C2C;
$highlight: #F25757;
$btn: #E9DF00;

$small: 580px;
$medium: 900px;
$large: 1400px;


body {
    font-family: 'Poppins', sans-serif;
    background-color: $white;
    color: $black;

    header {
        border-bottom: $black 2px solid; min-height: 15vh;
        @media (min-width: $small) { min-height: auto; padding-bottom: 1rem;}
        nav {
            @media (min-width: $small) { display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
            h1 { margin: 1rem 0 0 1rem;
                a { font-weight: 600; text-decoration: none; color:$highlight; font-size: 2rem;
                  @media (min-width: $medium) { font-size: 2.5rem; }
                }
            }
            ul {
                display: flex; flex-direction: row; justify-content: space-between; margin: 1rem; 
                @media (min-width: $small) { display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 2rem; margin-bottom: 0;
                }
                li {
                    a { text-decoration: none; color: $black; font-size: 1.25rem;  
                      @media (min-width: $medium) { font-size: 1.5rem; }
                    }
                }
            }
        }
    }

    main {
      margin: 1rem;
      @media (min-width: $small)  { margin: 3rem 7.5rem; }
      @media (min-width: $large)  { margin: 7.5rem 22.5rem; }
      #hero {
         display: flex; flex-direction: column; justify-content: space-evenly;
         @media (min-width: $medium) { flex-direction: row; flex-wrap: wrap; justify-content: start;}
        .hero-text { 
          @media (min-width: $medium) {order: 1; flex: 1 0 50%; height: fit-content; margin-right: 0.5rem; align-self: center;;}
          h2 { margin-top: 0; }
          p { margin-bottom: 1rem; }
        }
        .hero-btns { display: flex; flex-direction: row; justify-content: space-between; margin: 2rem 0 0;
          @media (min-width: $medium) { order: 3; flex: 1 0 50%;}
          a { display: flex; flex-direction: row; justify-content: space-between; align-items: center;
            img { height: auto; width: 2rem; margin-left: 1rem;}
          }
        }
        .hero-img { 
          @media (min-width: $medium) { max-width: 20rem; order: 2; flex: 1 0 100%; }
          img { height: auto; width: 100%; }
        }

      }

      .tech-stack {
        ul {
          display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; gap: 1.5rem; align-items: center;
          li {
            img { height: auto; width: 4rem;

            }
          }
        }
      }

      #about { }

      #projects {
        .project { border: $highlight 2px solid; padding: 1rem; margin-bottom: 1rem;
          @media (min-width: $medium) { display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 5rem; border: none; padding: 0; } 
          .project-text {
            .project-stack {
              ul { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 1rem;
                li {
                  img { height: auto; width: 3rem; 
                    @media (min-width: $medium) { width: 4rem; }
                  }
                }
              }
            }
          }

          .project-actions{

            .project-imgs { 
              margin: 2rem 0;
              @media (min-width: $large) { width: 25rem; }
            }
  
            .project-links {
              display: flex; flex-direction: row; justify-content: space-between; align-items: center; 
              a{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem; text-decoration: none; padding: 0.25rem 0.5rem;
                img { height: auto; width: 3rem;}
              }
            }
          }
          
        }

      
        .see-more{ text-align: center; margin: 2rem 0 1rem 0;
          a { text-decoration: none; color: $highlight; font-size: 1.25rem; 
            &:hover { color: rgba($color: $highlight, $alpha: 0.6); }
          }
        }
         
      }

      #contact { 
        #contact-form { 
          fieldset { border: none; margin: 1rem 0;
            label {  @media (min-width: $medium) { font-size: 1.25rem; } }
            input, textarea { width: 100%;  @media (min-width: $medium) { font-size: 1.25rem; } }
          }
          button { border: none; width: 100%;}
        }
      }
    }

    footer { background: $black; width: 100%; min-height: 5rem;

    }
}


.btn { text-decoration: none; background-color: $btn; padding: 0.75rem; font-weight: 600; color: $black; display: block; width: fit-content;
    &:hover { background-color: rgba($color: $btn, $alpha: 0.6); }
}

h2 { font-weight: 600; font-size: 1.5rem; margin-bottom: 0.75rem; margin-top: 2rem; 
  @media (min-width: $medium) { font-size: 1.5rem; }
  //@media (min-width: $large) { font-size: 2rem; }
}
h3 { font-weight: 600; font-size: 1.25rem; margin-bottom: 0.75rem; 
  @media (min-width: $medium) { font-size: 1.25rem; }
  //@media (min-width: $large) { font-size: 1.75rem; }
}
h4 { font-weight: 600; font-size: 1rem; margin-bottom: 0.75rem; margin-top: 2rem; 
  @media (min-width: $medium) { font-size: 1rem; }
  //@media (min-width: $large) { font-size: 1.5rem; }
}
p { 
  @media (min-width: $medium) { font-size: 1rem; } 
  //@media (min-width: $large) { font-size: 1.5rem; } 
}
a { 
  @media (min-width: $medium) { font-size: 1rem; } 
  //@media (min-width: $large) { font-size: 1.5rem; } 
}

li { list-style: none; }

#hero, .tech-stack, #about, #projects, #contact { margin-bottom: 7.5rem; }