/* CSS RESET https://andy-bell.co.uk/a-modern-css-reset/ and https://www.youtube.com/watch?v=h3bTwCqX4ns */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts//Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts//Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts//Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #F4F4F4;
  color: #171717;
  min-height: 100vh;
  overflow-x: hidden;
}
body #hero {
  background-color: #171717;
  color: #F4F4F4;
  padding: 0 2rem;
  min-height: 100vh;
}
body #hero header h1 {
  font-size: 1.75rem;
  font-weight: 600;
  z-index: 1100;
  position: relative;
  background-color: #171717;
  padding: 0.5rem 0;
}
body #hero header h1 a {
  color: #F25757;
}
body #hero header .mobile-nav-toggle {
  display: none;
}
@media (max-width: 500px) {
  body #hero header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("./svgs/bars-solid.svg");
    width: 1.25rem;
    aspect-ratio: 1;
    top: 1.25rem;
    right: 2rem;
    background-repeat: no-repeat;
    border: 0;
  }
  body #hero header .mobile-nav-toggle[aria-expended=true] {
    background: url(./svgs/x-solid.svg);
    background-repeat: no-repeat;
  }
}
body #hero header nav ul {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
@media (max-width: 500px) {
  body #hero header nav ul {
    flex-direction: column;
    position: absolute;
    background-color: #171717;
    width: 80%;
    padding: 1rem 0;
    transform: translateY(-120%);
    transition: transform 350ms ease-in;
    z-index: 1000;
  }
  body #hero header nav ul[data-visible=true] {
    transform: translateY(0%);
    border-top: 4px solid #E9DF00;
  }
}
body #hero header nav ul li {
  font-size: 1.25rem;
}
body #hero header nav ul li a {
  color: #F4F4F4;
}

a {
  text-decoration: none;
  color: #171717;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */