/* CSS RESET https://andy-bell.co.uk/a-modern-css-reset/ and https://www.youtube.com/watch?v=h3bTwCqX4ns */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts//Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

$white: #F4F4F4;
$black: #2C2C2C;
$highlight: #F25757;
$btn: #E9DF00;

body {
    font-family: 'Poppins', sans-serif;
    background-color: $white;
    color: $black;

    header {
        border-bottom: $black 2px solid; min-height: 15vh;
        nav {
            h1 {
                margin: 1rem 0 0 1rem;
                a { font-weight: 600; text-decoration: none; color:$highlight; font-size: 2rem;}
            }
            ul {
                display: flex; flex-direction: row; justify-content: space-between; margin: 1rem; 
                li {
                    a { text-decoration: none; color: $black; font-size: 1.25rem;  }
                }
            }
        }
    }

    main {
      margin: 1rem;
      #hero {
        height: 80vh; display: flex; flex-direction: column; justify-content: space-evenly;
        .hero-btns { display: flex; flex-direction: row; justify-content: space-between; margin: 0.5rem 0 1rem;}
      }

      .tech-stack {
        
        ul {
          display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; gap: 1.5rem; align-items: center;
          li {
            img { height: auto; width: 4rem; }
          }
        }
      }

      #about { }

      #projects {
        .project { 
          .project-text {
            .project-stack {
              ul { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 1rem;
                li {
                  img { height: auto; width: 3rem; }
                }
              }
            }
          }
         }
      }
    }
}


.btn { text-decoration: none; background-color: $btn; padding: 0.75rem; font-weight: 600; color: $black; display: block; width: fit-content;
    &:hover { background-color: rgba($color: $btn, $alpha: 0.6); }
}

h2 { font-weight: 600; font-size: 1.5rem; margin-bottom: 0.75rem; margin-top: 2rem; }
h3 { font-weight: 600; font-size: 1.25rem; margin-bottom: 0.75rem; margin-top: 2rem; }
h4 { font-weight: 600; font-size: 1rem; margin-bottom: 0.75rem; margin-top: 2rem; }
li { list-style: none; }
